cve-alerts/CVE_Alerts.json
{
  "name": "CVE Alerts Blank",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -940,
        20
      ],
      "id": "f11eb6c2-ebb0-4b1a-9bd7-7b701e8aa6f5",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        0,
        0
      ],
      "id": "41a04572-6916-4293-98d1-cb130b585c8a",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "chatId": "12345678",
        "text": "=<strong>{{ $json.cveMetadata.cveId }}</strong>\n<blockquote expandable>{{ $json.containers.cna.descriptions[0].value }}</blockquote>\n<em>{{ $('Loop Over Items').item.json.cveOrgLink }}</em>",
        "additionalFields": {
          "appendAttribution": false,
          "disable_web_page_preview": true,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        380,
        80
      ],
      "id": "f6396316-9bd0-4e79-b53a-7f0259e35e93",
      "name": "Telegram",
      "webhookId": "b36fdabd-d8e9-4c76-964a-af86742b37a7",
      "credentials": {
        "telegramApi": {
          "id": "biQYA9drHkp1tZ6T",
          "name": "Telegram account blank"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const records = $input.first().json.new.length;\n\nif ( records > 0) {\n    return $input.first().json.new;\n}\n\nreturn []"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -500,
        20
      ],
      "id": "671f19a7-ab67-490a-a9ae-4cf61cbdfb7f",
      "name": "Return only new records"
    },
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/CVEProject/cvelistV5/refs/heads/main/cves/delta.json",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -720,
        20
      ],
      "id": "614eec80-a58e-4cf4-b7d9-68bd0cc9f4ae",
      "name": "Get CVE records"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "39bd0c20-0d83-4145-bfd2-9b02d94f012f",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -280,
        20
      ],
      "id": "8cf2dc12-7b51-49a8-911c-99d94bb0773a",
      "name": "If records not empty"
    },
    {
      "parameters": {
        "url": "={{ $json.githubLink }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        180,
        80
      ],
      "id": "b8096565-558f-4a8c-819c-0e7ca56e4f4c",
      "name": "Get CVE detail record"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get CVE records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Get CVE detail record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return only new records": {
      "main": [
        [
          {
            "node": "If records not empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get CVE records": {
      "main": [
        [
          {
            "node": "Return only new records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If records not empty": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get CVE detail record": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a7ac0e3f-fd1d-4cc2-9b7e-3a1d1547bac2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c6eb2f16f3c4f0e00d6a0615bd94b7c63633c22b5a50b5134f98b45292fad201"
  },
  "id": "hDpawxpE1D0zgLbi",
  "tags": []
}
