site-monitor/Site_Monitor.json
{
  "name": "Site Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -260,
        -100
      ],
      "id": "fd4f16b7-c38f-41ed-bf45-9523b2ed2907",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        180,
        -100
      ],
      "id": "fec8ddac-d805-42d0-a5ae-b5e0fe63aad1",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "timeout": 3000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        0
      ],
      "id": "159ed278-e37f-4cff-bddf-bf43be3c9ed2",
      "name": "HTTP Request",
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "chatId": "12345678",
        "text": "={{ $json.name }}: {{ $json.error.message }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        620,
        100
      ],
      "id": "66aa6b63-c3c0-4381-a911-ad32a6096eee",
      "name": "Telegram",
      "webhookId": "83de7ab8-5f25-4ea0-b79b-c53693ae147c",
      "credentials": {
        "telegramApi": {
          "id": "biQYA9drHkp1tZ6T",
          "name": "Telegram account blank"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const url = [\n  {\n    name: \"Google\", \n    url: \"https://google.com\"\n  }\n];\n\nreturn url;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -40,
        -100
      ],
      "id": "2ca6f7f7-0411-428f-9aaa-5025458e57bb",
      "name": "List of urls"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "List of urls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List of urls": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f1ae093c-e0ab-4902-903b-8b0d4831a3dd",
  "meta": {
    "instanceId": "c6eb2f16f3c4f0e00d6a0615bd94b7c63633c22b5a50b5134f98b45292fad201"
  },
  "id": "EwY9deyTMvDZ7N58",
  "tags": []
}
